
{% extends 'core/base.html' %}
{% block title %} Все задачи {% endblock %}

{% block content %}


                <h1>Все задачи</h1>

    добавить задачу



                        <h5>Мои задачи</h5>
                        {% if tasks %}
                            <p>Есть задачи</p>

                            {% for task in tasks %}
                                <p>{{task.name}}</p>
                                    <a href=" {% url 'edit_task' task.id %}">
                                                                    <button>Открыть задачу</button>
                                    </a>




                                <form method="post" action="{% url 'delete_task' task.id %}">
                                    {% csrf_token %}
                                                                    <button>Удалить задачу</button>


                                </form>


                            {% endfor %}
                        {% else %}
                            <p>Нет задач</p>
                        {% endif %}





{% endblock %}


