
{% extends 'core/base.html' %}
{% block title %} Task manager {% endblock %}

{% block content %}


                <h1>Мой Трекер</h1>
                <p class="lead">Добро пожаловать! Это начальная версия моего сайта.</p>

                    <form method="post" action="{% url 'start_new_day' %}">
                        {% csrf_token %}
                        <button>Начать новый день</button>

                    </form>

                        <h5>Мои задачи</h5>

                        {% if tasks %}
                            <ul>

                                                            {% for task in tasks %}
                      <li><span>{{task.name}}</span>
                                <form method="post" action="{% url 'complete_task' task.id %}" style="display: inline-block">
                                    {% csrf_token %}
                                    <button>Выполнить задачу</button>
                                </form></li>



                            {% endfor %}

                            </ul>



                        {% else %}
                            <p>Нет задач</p>
                        {% endif %}



{% endblock %}


