
{% extends 'core/base.html' %}
{% block title %} Task manager {% endblock %}

{% block content %}


                <h1>Мой Трекер</h1>
                <p class="lead">Добро пожаловать! Это начальная версия моего сайта.</p>



                        <h5>Режим болезни</h5>
                        <p>Здесь будет переключатель режима болезни</p>


                        <h5>Мои задачи</h5>
                        <p>{{ tasks|length}}</p>
                        {% if tasks %}
                            <p>Есть задачи</p>

                            {% for task in tasks %}
                                <p>{{task.name}}</p>

                            {% endfor %}
                        {% else %}
                            <p>Нет задач</p>
                        {% endif %}


                        <ul class="list-group">
                            <li class="list-group-item">Прополоскать горло</li>
                            <li class="list-group-item">Принять таблетку</li>
                            <li class="list-group-item">Отдохнуть</li>
                        </ul>


{% endblock %}


